<div class="flex h-24 w-full items-center shadow-lg bg-white p-4">
    <img class="w-32 h-12" src="./../../../../../assets/logo.png" alt="">
    <div class="flex gap-4 w-full h-full justify-center items-center">
        <div class="flex gap-4  ">
            <app-custom-menu-button
                [id]="'id_btn_inicio'"
                [label]="'Inicio'"
                [icon]="''"
                [submenu]="true"
                [selected]="menuSelected" 
                (click)="onClickSetMenuSelected('Inicio')" >
            </app-custom-menu-button>

            <app-custom-menu-button
                [id]="'id_btn_categoria'"
                [label]="'Empleos'"
                [icon]="''"
                [submenu]="true"
                [selected]="menuSelected"
                (click)="onClickSetMenuSelected('Empleos')"  >
            </app-custom-menu-button>

            <app-custom-menu-button
                [id]="'id_btn_explorar'"
                [label]="'Empresas'"
                [icon]="''"
                [submenu]="true"
                [selected]="menuSelected"
                (click)="onClickSetMenuSelected('Empresas')"  >
            </app-custom-menu-button>

            <app-custom-menu-button
                [id]="'id_btn_nosotros'"
                [label]="'Nosotros'"
                [icon]="''"
                [submenu]="true"
                [selected]="menuSelected"
                (click)="onClickSetMenuSelected('Nosotros')"  >
            </app-custom-menu-button>
        </div>
    </div>
    <div class="flex gap-4 items-center">
        <app-custom-button
            [id] ="'id_btn'"
            [label] ="'Iniciar Sesión'"
            [type] ="'accept'"
            [icon] ="''"
            [class] ="'w-32'"
            [valid] ="true"
            (click)="onClickLogin()" >
        </app-custom-button>
    </div>
</div>