<div class="flex flex-col gap-4 w-full px-24 py-12 bg-primary-50">
    <div class="w-full p-4 h-max">
        <p class="flex justify-center font-bold text-5xl text-primary-950">Ofertas de Trabajo Notables</p>
    </div>

    <div class="grid grid-cols-3 gap-9 w-full h-max">
        <app-custom-anuncio-card
        class="transition ease-in-out  hover:-translate-y-1 hover:scale-105 duration-500"
            *ngFor="let item of dataAnuncios"
            [anuncio]="item" >
        </app-custom-anuncio-card>
    </div>
    
    <div class="flex p-4 w-full justify-center">
        <app-custom-button
            class="transition ease-in-out  hover:-translate-y-1 hover:scale-105 duration-500"
            [id] ="'id_btn_ver_mas'"
            [label] ="'Explorar Más Anuncios'"
            [type] ="'accept'"
            [icon] ="'fa-solid fa-magnifying-glass fa-lg'"
            [class] ="'h-16'"
            [valid] ="true" >
        </app-custom-button>
    </div>
</div>